PermitRootLogin {{ hardening_ssh_permit_root_login }}
PasswordAuthentication {{ hardening_ssh_password_authentication }}
KbdInteractiveAuthentication {{ hardening_ssh_kbd_interactive_authentication }}
MaxAuthTries {{ hardening_ssh_max_auth_tries }}
